[project]
	description = Packaging content for openstack/tacker (distgit)
[access "refs/*"]
  read = group openstack/tacker-distgit-core
  owner = group openstack/tacker-distgit-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group openstack/tacker-distgit-core
	label-Code-Review = -2..+2 group openstack/tacker-distgit-ptl
	label-Verified = -2..+2 group openstack/tacker-distgit-ptl
	label-Workflow = -1..+1 group openstack/tacker-distgit-core
	label-Workflow = -1..+1 group openstack/tacker-distgit-ptl
	label-Workflow = -1..+0 group Registered Users
	submit = group openstack/tacker-distgit-ptl
	read = group openstack/tacker-distgit-core
    read = group Registered Users
[access "refs/meta/config"]
    read = group openstack/tacker-distgit-core
    read = group Registered Users
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
